md-card
	md-content.md-padding
		h3 Create a new Poll
		form(no-validate ng-submit='addPoll()')
			md-input-container
				label Poll Name
				input(ng-model="poll.name" required)
			md-input-container(ng-repeat='choice in poll.choices')
				label Choice {{$index+1}}
				input(ng-model='choice.name' ng-model-options="{ debounce: 350 }")
		div
			//md-button(type='submit' class='md-button md-raised md-primary md-default-theme pull-right' value='Create')
			md-button(type='submit' class='md-raised md-primary pull-right' ng-click='addPoll()') Create