@media (min-width: 768px){
	.container {
	  width: 750px;
	}
}

@media (min-width: 992px){
	.container {
	  width: 900px;
	}
}

@media (min-width: 1200px){
	.container {
	  width: 900px;
	}
}

body, html{
	background-color: #ECECEC;
}

html{
	font-family: 'Roboto', sans-serif;
}

.chart{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container h1, h2, h3{
	padding: 0px;
}

.pull-right{
	float: right;
}

.poll-content{
	margin-bottom: 50px;
}

.view-animate{
	position: relative;
	display: block;
}

.chart-legend {
	display: none;
	position: relative;
	left: -48px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 80px;
}

.chart-legend p {
	line-height: 20px;
}

.legend-color{
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 5px;
}

.legend-label{
	
}

.view-animate.ng-enter, .view-animate.ng-leave {
	-webkit-transition: 0.3s ease-in all; /* Chrome */
	transition: 0.3s ease-in all;
}

.view-animate.ng-enter {
	opacity: 0;
	top: -20px;
}

.view-animate.ng-enter-active {
	opacity: 1;
	top: 0px;
}

.view-animate.ng-leave {
	display: none;
	top: 0px;
}

.view-animate.ng-leave-active{
	opacity: 0;
	top: -20px;
}

